{% extends 'base.html' %}

{% block title %}
    Listado de usuarios
{% endblock %}

{% block content %}
    <h2>Listado de usuarios</h2>
    <ul>
    {% for user in user_pagination.items %}
        <li>
            <a href="{{ url_for('admin.update_user', user_id=user.user_id) }}">{{ user.fullname }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class=pagination>
        {% for page in user_pagination.iter_pages() %}
            {% if page %}
                {% if page != user_pagination.page %}
                    <a href="{{ url_for('admin.show_userlist', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}