<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    </head>
    <body style="">
        <nav>
            <ul class="user-info">
                <li><a href="{{ url_for('public.index') }}">Inicio</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.login') }}">Entra</a></li>
                    <li> | </li>
                    <li><a href="{{ url_for('auth.signup') }}">Regístrate</a></li>
                {% else %}
                    <li>Hola {{ current_user.fullname }}!</li>
                        {% if current_user.is_admin %}
                            <li> | </li>
                            <li><a href="{{ url_for('admin.index') }}">Administración</a></li>
                        {% endif %}
                    <li> | </li>
                    <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="stat-wrapper">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>
                Copyright © 2025 | Todos los derechos reservados
            </p>
        </footer>
    </body>
</html>